.main {
  height: auto;
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 1px solid;
}

.main > div {
  display: flex;
  height: 60px;
  width: 94%;
  justify-content: end;
  background-color: aqua;
  padding-right: 50px;
}

a {
  color: black;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
